---
import Layout from "../../layouts/Layout.astro";
import { PLAYERS_API_ENDPOINT } from 'astro:env/server';
import { SINGLE_PLAYER_API_ENDPOINT } from "astro:env/server";

const { id } = Astro.params;

const response = await fetch(`${SINGLE_PLAYER_API_ENDPOINT}`);

const player = await response.json();

export async function getStaticPaths() {
  const response = await fetch(`${PLAYERS_API_ENDPOINT}`);

  const players = await response.json();

  return players.map((player: { id: any }) => ({
    params: { id: player.id },
    props: { player },
  }));
}

const { img, nickname, name } = player;
---

<Layout title={`A probá`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70">← Volver atrás</a>
      <img
        transition:name={`img-${nickname}`}
        class="rounded w-72 h-auto"
        src={img}
      />
      <p>{name}</p>
    </aside>
  </div>
</Layout>
